





/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #57b846;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-home {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #5b98f5, #37fcfc);
  background: -o-linear-gradient(-135deg, #5b98f5, #37fcfc);
  background: -moz-linear-gradient(-135deg, #5b98f5, #37fcfc);
  background: linear-gradient(-135deg, #5b98f5, #37fcfc);
}


/*------------------------------------------------------------------
[  ]*/
.from-form {
  width: 390px;
  border: 10px;
  /* margin-right: 5%; */
}

.form-form-title {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-top: 30px;
}



@media (max-width: 992px) {
  
  .form-form {
    width: 50%;
  }
}

@media (max-width: 768px) {

  .form-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-forms {
    padding: 100px 15px 33px 15px;
  } 
}

.file-upload-wrapper-first {
  /* $defaultColor: #4daf7c;
  $height: 60px; */
  
  position: relative;
  width: 300px;
  height: 60px;
  padding: 20px;
}
.file-upload-wrapper-first::after{
  content: attr(data-text);
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 10px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: 40px;
    line-height: 40px;
    color: #999;
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
}
.file-upload-wrapper-first::before{
  content: 'Upload';
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 60px;
    background: #4daf7c;
    color: #fff;
    font-weight: 700;
    z-index: 25;
    font-size: 16px;
    line-height: 60px;
    padding: 0 15px;
    text-transform: uppercase;
    pointer-events: none;
    border-radius: 0 5px 5px 0;

    background: -webkit-linear-gradient(-135deg, #3bffff, #5195fa);
    background: -o-linear-gradient(-135deg, #3bffff, #5195fa);
    background: -moz-linear-gradient(-135deg, #3bffff, #5195fa);
    background: linear-gradient(-135deg, #3bffff, #5195fa);
}
.file-upload-wrapper-first:hover::before {
  background: #333333
}




.file-upload-wrapper-second {
  /* $defaultColor: #4daf7c;
  $height: 60px; */
  
  position: relative;
  width: 300px;
  height: 60px;
  margin-top: 10px;
}
.file-upload-wrapper-second::after{
  content: attr(data-text);
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 10px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: 40px;
    line-height: 40px;
    color: #999;
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
    
}
.file-upload-wrapper-second::before{
  content: 'Upload';
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 60px;
    background: #4daf7c;
    color: #fff;
    font-weight: 700;
    z-index: 25;
    font-size: 16px;
    line-height: 60px;
    padding: 0 15px;
    text-transform: uppercase;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
    background: -webkit-linear-gradient(-135deg, #3bffff, #5195fa);
    background: -o-linear-gradient(-135deg, #3bffff, #5195fa);
    background: -moz-linear-gradient(-135deg, #3bffff, #5195fa);
    background: linear-gradient(-135deg, #3bffff, #5195fa);
}
.file-upload-wrapper-second:hover::before {
  background: #333333
}
input {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  height: 40px;
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
  width: 100%;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-submit-form-btn {
  width: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.submit-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  margin-top: -10px;
  width: 100%;
  height: 50px;
  border-radius: 7px;
  background: #4daf7c;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  background: -webkit-linear-gradient(-135deg, #3bffff, #5195fa);
  background: -o-linear-gradient(-135deg, #3bffff, #5195fa);
  background: -moz-linear-gradient(-135deg, #3bffff, #5195fa);
  background: linear-gradient(-135deg, #3bffff, #5195fa);

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.submit-form-btn:hover {
  background: #333333;
}

.dwn-btn{
  position: relative;
  padding-top: 17px;
  padding-left: 430px;
  background: #333333;
  width: 100%;
  height: 60px;
  margin-top: 50px;
  border-radius: 10px;
  cursor: pointer;
}
.dwn-btn:hover{
  background: #729b8a;
}
a.fill-div{
  position: absolute;
  text-decoration: none;
  color: #ffffff;
  height: 100%;
  width: 100%;
}
.wrap-forms{
  padding-bottom: 60px;
  width: 960px;
  height: 400px;
  margin-top: -50px;
  border-radius: 10px;
  background: #d9dad9;

}

.form2{
  padding-left: 55px;
  margin-left: 500px;
  margin-top: -300px;
  border-radius: 10px; 
  width: 400px;
  height: 300px;
  background: #49a4bd;
}

.form1{
  padding-left: 55px;
  /* padding-top: 10px; */
  padding-bottom: 20px;
  margin-left: 50px; 
  margin-top: 50px;
  border-radius: 10px; 
  width: 400px;
  height: 300px;
  background: #49a4bd;
}


.warning{

  text-align: center;
  background: rgb(255, 255, 255);
}
